<body>
	<form method="post" action="control/register.php" autocomplete="off">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Inscription :</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8">
								<table class="table">
								  <tbody>
								  <tr>
									<td><label for="login">*Login : </label></td>
									<td><input type="text" name="login" placeholder="Pseudo"></td>
								  </tr>
								  <tr>
									<td><label for="name">*Nom : </label></td>
									<td><input type="text" name="name" placeholder="Nom"></td>
								  </tr>
								  <tr>
									<td><label for="surname">*Prénom : </label></td>
									<td><input type="text" name="surname" placeholder="Prénom"></td>
								  </tr>
								  <tr>
									<td><label for="email">*Adresse e-mail : </label></td>
									<td><input type="email" name="email" placeholder="Adresse e-mail"></td>
								  </tr>
								  <tr>
									<td><label for="tel">Numéro de téléphone :</label></td>
									<td><input type="text" name="tel" placeholder="Numéro de téléphone"></td>
								  </tr>
								  <tr>
									<td><label for="paswd">*Mot de passe : </label></td>
									<td><input type="password" name="paswd" placeholder="Mot de passe"></td>
								  </tr>
								  <tr>
									<td><label for="paswd2">*Confirmation du mot de passe : </label></td>
									<td><input type="password" name="paswd2" placeholder="Mot de passe"></td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
						<input name="Add" class="btn btn-info" type="submit" 
							value="S'enregister" />
					</div>
				</div>
			</div>
		</div>	
	</form>
</body>